<footer class="site-footer">
  <div class="wrapper">
    <div>
      <b>
        Follow everywhere: <a href="{{ "/feed.xml" | prepend: site.baseurl }}">rss</a> | <a href="https://twitter.com/_Donniewest">twitter</a> | <a href="{{ "/subscribe.html" | prepend: site.baseurl }}">email</a>
      </b>
    </div>
    <div>
      <a href={{ "/about.html" | prepend: site.baseurl }} >about</a> :: <a href={{ "/archive.html" | prepend: site.baseurl }}>archive</a>
    </div>
  </div>
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "ESV",
        roundCorners: true,
        socialSharing: [],
        customStyle : {
          heading: {
            fontFamily : "'Crimson Text', Times, Baskerville, Georgia, serif"
          },
          body   : {
            fontFamily : "Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif"
          }
        }
      }
    };
    (function(d, t) {
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
      g.src = "//api.reftagger.com/v2/RefTagger.js";
      s.parentNode.insertBefore(g, s);
    }(document, "script"));
  </script>
</footer>
